<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyouling.patient_track.dao.CaseCollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyouling.patient_track.dao.po.CaseCollection">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="admission_id" property="admissionId" />
        <result column="admission_time" property="admissionTime" />
        <result column="case_status" property="caseStatus" />
        <result column="familical_aggregation" property="familicalAggregation" />
        <result column="nucleic_test" property="nucleicTest" />
        <result column="medical_history" property="medicalHistory" />
        <result column="is_valid" property="isValid" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, admission_id, admission_time, case_status, familical_aggregation, nucleic_test, medical_history, is_valid, create_date, update_date
    </sql>

</mapper>
